In [2]:
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_English-speaking_population'

In [4]:
table = pd.read_html(url)
table

[                                                   0              1  \
 0  .mw-parser-output .legend{page-break-inside:av...  40–60% 20–40%

                                               2
 0  0.1-20% No data (Antarctica and North Korea)  ,
            Country  Eligible population  Total English speakers  \
 0    United States            296603003               283160411
 1            India           1028737436               125344737
 2         Pakistan            188400100               108036049
 3          Nigeria            156493000                79000000
 4      Philippines            110000000                64025890
 ..             ...                  ...                     ...
 122       Anguilla                13000                   12000
 123          Nauru                12000                   11600
 124   Cook Islands                20200                    4000
 125     Montserrat                 5900                    4000
 126          TOTAL           5102585737              1179874130

      Total English speakers (%)  As first language  As first language (%)  \
 0                         95.46        234171556.0                  78.95
 1                         12.18           226449.0                   0.02
 2                         57.34          8642883.0                   4.58
 3                         53.34                NaN                    NaN
 4                         58.20            36935.0                   0.04
 ..                          ...                ...                    ...
 122                       92.31            12000.0                  92.31
 123                       96.67              900.0                   7.50
 124                       19.80             1000.0                   4.95
 125                       67.80             4000.0                  67.80
 126                         NaN        336358172.0                    NaN

      As an additional language[1] As an additional language (%)  \
 0                      48988855.0                          16.5
 1                     125118287.0                         12.16
 2                      92316049.0                            49
 3                      79000000.0                         53.34
 4                      63988955.0                         63.72
 ..                            ...                           ...
 122                           NaN                           NaN
 123                       10700.0                           NaN
 124                        3000.0                           NaN
 125                           NaN                           NaN
 126                   838676510.0                           NaN

                                               Comments
 0    Figures are from the 2011–2015 American Commun...
 1    2001 Census figures for population and first, ...
 2    Official Language, lingua franca and spoken am...
 3              Euromonitor International report (2009)
 4    Total population: Census 2010. Proportion of t...
 ..                                                 ...
 122                    Source: Crystal (2003), p. 109.
 123  English is spoken as the language of governmen...
 124                    Source: Crystal (2003), p. 109.
 125  Source: Crystal (2003), p. 109. Note this incl...
 126                                                NaN

 [127 rows x 9 columns],
                             vteEnglish-speaking world  \
 0   Click on a coloured area to see an article abo...
 1   Further linksArticles English-speaking world H...
 2                                       Further links
 3   Articles English-speaking world History of the...
 4                                            Articles
 5                                               Lists
 6   Countries and territories where English is the...
 7                                                 NaN
 8   Countries and territories where English is the...
 9                                              Africa
 10                                           Americas
 11                                             Europe
 12                                            Oceania
 13                                                NaN
 14  Countries and territories where English is an ...
 15                                             Africa
 16                                           Americas
 17                                               Asia
 18                                             Europe
 19                                            Oceania
 20                     Dependencies shown in italics.

                           vteEnglish-speaking world.1
 0   Click on a coloured area to see an article abo...
 1   Further linksArticles English-speaking world H...
 2                                       Further links
 3   Articles English-speaking world History of the...
 4   English-speaking world History of the English ...
 5   List of countries by English-speaking populati...
 6   Countries and territories where English is the...
 7   Countries and territories where English is the...
 8   Countries and territories where English is the...
 9        Saint Helena, Ascension and Tristan da Cunha
 10  Anguilla Antigua and Barbuda The Bahamas Barba...
 11  Guernsey Ireland Isle of Man Jersey United Kin...
 12  Australia New Zealand Norfolk Island Pitcairn ...
 13  Countries and territories where English is an ...
 14  Countries and territories where English is an ...
 15  Botswana Cameroon Eswatini The Gambia Ghana Ke...
 16                                        Puerto Rico
 17  Christmas Island Cocos (Keeling) Islands Hong ...
 18              Gibraltar Akrotiri and Dhekelia Malta
 19  American Samoa Cook Islands Fiji Guam Kiribati...
 20                     Dependencies shown in italics.  ,
                                         Further links  \
 0   Articles English-speaking world History of the...
 1                                            Articles
 2                                               Lists
 3   Countries and territories where English is the...
 4                                                 NaN
 5   Countries and territories where English is the...
 6                                              Africa
 7                                            Americas
 8                                              Europe
 9                                             Oceania
 10                                                NaN
 11  Countries and territories where English is an ...
 12                                             Africa
 13                                           Americas
 14                                               Asia
 15                                             Europe
 16                                            Oceania
 17                     Dependencies shown in italics.

                                       Further links.1
 0   Articles English-speaking world History of the...
 1   English-speaking world History of the English ...
 2   List of countries by English-speaking populati...
 3   Countries and territories where English is the...
 4   Countries and territories where English is the...
 5   Countries and territories where English is the...
 6        Saint Helena, Ascension and Tristan da Cunha
 7   Anguilla Antigua and Barbuda The Bahamas Barba...
 8   Guernsey Ireland Isle of Man Jersey United Kin...
 9   Australia New Zealand Norfolk Island Pitcairn ...
 10  Countries and territories where English is an ...
 11  Countries and territories where English is an ...
 12  Botswana Cameroon Eswatini The Gambia Ghana Ke...
 13                                        Puerto Rico
 14  Christmas Island Cocos (Keeling) Islands Hong ...
 15              Gibraltar Akrotiri and Dhekelia Malta
 16  American Samoa Cook Islands Fiji Guam Kiribati...
 17                     Dependencies shown in italics.  ,
                                                     0  \
 0                                            Articles
 1                                               Lists
 2   Countries and territories where English is the...
 3                                                 NaN
 4   Countries and territories where English is the...
 5                                              Africa
 6                                            Americas
 7                                              Europe
 8                                             Oceania
 9                                                 NaN
 10  Countries and territories where English is an ...
 11                                             Africa
 12                                           Americas
 13                                               Asia
 14                                             Europe
 15                                            Oceania
 16                     Dependencies shown in italics.

                                                     1
 0   English-speaking world History of the English ...
 1   List of countries by English-speaking populati...
 2   Countries and territories where English is the...
 3   Countries and territories where English is the...
 4   Countries and territories where English is the...
 5        Saint Helena, Ascension and Tristan da Cunha
 6   Anguilla Antigua and Barbuda The Bahamas Barba...
 7   Guernsey Ireland Isle of Man Jersey United Kin...
 8   Australia New Zealand Norfolk Island Pitcairn ...
 9   Countries and territories where English is an ...
 10  Countries and territories where English is an ...
 11  Botswana Cameroon Eswatini The Gambia Ghana Ke...
 12                                        Puerto Rico
 13  Christmas Island Cocos (Keeling) Islands Hong ...
 14              Gibraltar Akrotiri and Dhekelia Malta
 15  American Samoa Cook Islands Fiji Guam Kiribati...
 16                     Dependencies shown in italics.  ,
                                                     0  \
 0                                                 NaN
 1   Countries and territories where English is the...
 2                                              Africa
 3                                            Americas
 4                                              Europe
 5                                             Oceania
 6                                                 NaN
 7   Countries and territories where English is an ...
 8                                              Africa
 9                                            Americas
 10                                               Asia
 11                                             Europe
 12                                            Oceania

                                                     1
 0   Countries and territories where English is the...
 1   Countries and territories where English is the...
 2        Saint Helena, Ascension and Tristan da Cunha
 3   Anguilla Antigua and Barbuda The Bahamas Barba...
 4   Guernsey Ireland Isle of Man Jersey United Kin...
 5   Australia New Zealand Norfolk Island Pitcairn ...
 6   Countries and territories where English is an ...
 7   Countries and territories where English is an ...
 8   Botswana Cameroon Eswatini The Gambia Ghana Ke...
 9                                         Puerto Rico
 10  Christmas Island Cocos (Keeling) Islands Hong ...
 11              Gibraltar Akrotiri and Dhekelia Malta
 12  American Samoa Cook Islands Fiji Guam Kiribati...  ,
                                                    0  \
 0  Countries and territories where English is the...
 1                                             Africa
 2                                           Americas
 3                                             Europe
 4                                            Oceania

                                                    1
 0  Countries and territories where English is the...
 1       Saint Helena, Ascension and Tristan da Cunha
 2  Anguilla Antigua and Barbuda The Bahamas Barba...
 3  Guernsey Ireland Isle of Man Jersey United Kin...
 4  Australia New Zealand Norfolk Island Pitcairn ...  ,
                                                    0  \
 0  Countries and territories where English is an ...
 1                                             Africa
 2                                           Americas
 3                                               Asia
 4                                             Europe
 5                                            Oceania

                                                    1
 0  Countries and territories where English is an ...
 1  Botswana Cameroon Eswatini The Gambia Ghana Ke...
 2                                        Puerto Rico
 3  Christmas Island Cocos (Keeling) Islands Hong ...
 4              Gibraltar Akrotiri and Dhekelia Malta
 5  American Samoa Cook Islands Fiji Guam Kiribati...  ,
        vteLists of countries by population statistics  \
 0                                              Global
 1                               Continents/subregions
 2                                    Intercontinental
 3                                  Cities/urban areas
 4                                     Past and future
 5                                  Population density
 6                                   Growth indicators
 7                                  Other demographics
 8                                              Health
 9                            Education and innovation
 10                                           Economic
 11  List of international rankings List of top int...

      vteLists of countries by population statistics.1
 0        Current population Demographics of the world
 1   Africa Antarctica Asia Europe North America Ca...
 2   Americas Arab world Commonwealth of Nations Eu...
 3   World cities National capitals Megacities Mega...
 4   Past and future population World population es...
 5   Current density Past and future population den...
 6   Population growth rate Natural increase Birth ...
 7   Age at first marriage Age structure Dependency...
 8   Antidepressant consumption Antiviral medicatio...
 9   Bloomberg Innovation Index Education Index Int...
 10  Access to financial services Development aid g...
 11  List of international rankings List of top int...  ]

In [5]:
df_full_table = table[1]
df_full_table.head()

,Country,Eligible population,Total English speakers,Total English speakers (%),As first language,As first language (%),As an additional language[1],As an additional language (%),Comments
0,United States,296603003,283160411,95.46,234171556.0,78.95,48988855.0,16.5,Figures are from the 2011–2015 American Commun...
1,India,1028737436,125344737,12.18,226449.0,0.02,125118287.0,12.16,"2001 Census figures for population and first, ..."
2,Pakistan,188400100,108036049,57.34,8642883.0,4.58,92316049.0,49,"Official Language, lingua franca and spoken am..."
3,Nigeria,156493000,79000000,53.34,NaN,NaN,79000000.0,53.34,Euromonitor International report (2009)
4,Philippines,110000000,64025890,58.20,36935.0,0.04,63988955.0,63.72,Total population: Census 2010. Proportion of t...

In [6]:
df_short_table = df_full_table[["Country","Eligible population","Total English speakers"]]
df_short_table = df_short_table.drop(126)
df_short_table

           Country  Eligible population  Total English speakers
0    United States            296603003               283160411
1            India           1028737436               125344737
2         Pakistan            188400100               108036049
3          Nigeria            156493000                79000000
4      Philippines            110000000                64025890
..             ...                  ...                     ...
121        Andorra                81222                   17869
122       Anguilla                13000                   12000
123          Nauru                12000                   11600
124   Cook Islands                20200                    4000
125     Montserrat                 5900                    4000

[126 rows x 3 columns]

In [7]:
df_short_table["Total English speakers"] = df_short_table["Total English speakers"].astype(float)
df_short_table["Eligible population"] = df_short_table["Eligible population"].astype(float)
df_short_table['Percent_English_Speakers'] = df_short_table["Total English speakers"] / df_short_table["Eligible population"]
df_short_table

,Country,Eligible population,Total English speakers,Percent_English_Speakers
0,United States,2.966030e+08,283160411.0,0.954678
1,India,1.028737e+09,125344737.0,0.121843
2,Pakistan,1.884001e+08,108036049.0,0.573439
3,Nigeria,1.564930e+08,79000000.0,0.504815
4,Philippines,1.100000e+08,64025890.0,0.582054
...,...,...,...,...
121,Andorra,8.122200e+04,17869.0,0.220002
122,Anguilla,1.300000e+04,12000.0,0.923077
123,Nauru,1.200000e+04,11600.0,0.966667
124,Cook Islands,2.020000e+04,4000.0,0.198020
125,Montserrat,5.900000e+03,4000.0,0.677966

In [8]:
df_short_table = df_short_table.rename(columns = {'Eligible population': 'Eligible_Population', 'Total English speakers': 'Total_English_Speakers'})
df_short_table

,Country,Eligible_Population,Total_English_Speakers,Percent_English_Speakers
0,United States,2.966030e+08,283160411.0,0.954678
1,India,1.028737e+09,125344737.0,0.121843
2,Pakistan,1.884001e+08,108036049.0,0.573439
3,Nigeria,1.564930e+08,79000000.0,0.504815
4,Philippines,1.100000e+08,64025890.0,0.582054
...,...,...,...,...
121,Andorra,8.122200e+04,17869.0,0.220002
122,Anguilla,1.300000e+04,12000.0,0.923077
123,Nauru,1.200000e+04,11600.0,0.966667
124,Cook Islands,2.020000e+04,4000.0,0.198020
125,Montserrat,5.900000e+03,4000.0,0.677966

In [9]:
url_2 = 'https://www.listofcountriesoftheworld.com/area-land.html'

In [10]:
area_table = pd.read_html(url_2)
area_table

[       #          Country   Land area
 0      1           Russia  16995800.0
 1      2       Antarctica  14000000.0
 2      3            China   9326410.0
 3      4    United States   9161923.0
 4      5           Canada   9093507.0
 ..   ...              ...         ...
 252  253        Lithuania         NaN
 253  254         Mongolia         NaN
 254  255  Paracel Islands         NaN
 255  256     Saint Helena         NaN
 256  257      Timor-Leste         NaN

 [257 rows x 3 columns]]

In [11]:
df_full_area_table = area_table[0]
df_full_area_table.head()

   #        Country   Land area
0  1         Russia  16995800.0
1  2     Antarctica  14000000.0
2  3          China   9326410.0
3  4  United States   9161923.0
4  5         Canada   9093507.0

In [12]:
df_info_table = df_short_table.merge(df_full_area_table,on="Country",how="inner")
df_info_table = df_info_table.drop(columns="#")
df_info_table = df_info_table.rename(columns = {"Land area":"Land_Area"})
df_info_table

,Country,Eligible_Population,Total_English_Speakers,Percent_English_Speakers,Land_Area
0,United States,2.966030e+08,283160411.0,0.954678,9161923.0
1,India,1.028737e+09,125344737.0,0.121843,2973190.0
2,Pakistan,1.884001e+08,108036049.0,0.573439,778720.0
3,Nigeria,1.564930e+08,79000000.0,0.504815,910768.0
4,Philippines,1.100000e+08,64025890.0,0.582054,298170.0
...,...,...,...,...,...
113,Andorra,8.122200e+04,17869.0,0.220002,468.0
114,Anguilla,1.300000e+04,12000.0,0.923077,102.0
115,Nauru,1.200000e+04,11600.0,0.966667,21.0
116,Cook Islands,2.020000e+04,4000.0,0.198020,236.7
117,Montserrat,5.900000e+03,4000.0,0.677966,102.0

In [13]:
df_info_table["Population_Density"] = df_info_table["Eligible_Population"] / df_info_table["Land_Area"]
df_info_table

,Country,Eligible_Population,Total_English_Speakers,Percent_English_Speakers,Land_Area,Population_Density
0,United States,2.966030e+08,283160411.0,0.954678,9161923.0,32.373444
1,India,1.028737e+09,125344737.0,0.121843,2973190.0,346.004607
2,Pakistan,1.884001e+08,108036049.0,0.573439,778720.0,241.935612
3,Nigeria,1.564930e+08,79000000.0,0.504815,910768.0,171.825317
4,Philippines,1.100000e+08,64025890.0,0.582054,298170.0,368.917061
...,...,...,...,...,...,...
113,Andorra,8.122200e+04,17869.0,0.220002,468.0,173.551282
114,Anguilla,1.300000e+04,12000.0,0.923077,102.0,127.450980
115,Nauru,1.200000e+04,11600.0,0.966667,21.0,571.428571
116,Cook Islands,2.020000e+04,4000.0,0.198020,236.7,85.340093
117,Montserrat,5.900000e+03,4000.0,0.677966,102.0,57.843137

In [14]:
df_info_table.to_csv("Info_Table.csv")